@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    box-sizing: border-box;
    background-color:#EFF6FF ;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.navbar{
    background-color: #6366F1;
    padding-bottom: 10px;
    padding-top: 10px;
}

img{
    display: block;
    margin-top: -30px;
}

.lists{
    list-style: none;
    text-align: right;
    margin-top: -75px;
    padding-right: 20px;
}
 
.list-items{
    display: inline;
    padding: 10px 5px;
}

.list-items a{
    text-decoration: none;
    padding-bottom: 20px;
    color: #ffffff;
    font-size: 1.5rem;
}

.list-items a:hover{
    color: #000000;
}

#header{
    margin-top: 100px;
    text-align: center;
}

#header img{
    display: block;
    max-width: 350px;
    margin: auto;
    margin-bottom: 80px;
}


#header h1 {
    font-size: 3rem;
}

#header h1 span{
    color: #4F46E5;
}

#blogs{
    margin-top: 50px;
    text-align: center;
}

.blog{
    margin: 20px ;
}

.blog h2{
    color: #4F46E5;
    font-size: 2rem;
}

.blog button{
    background-color: #E0E7FF;
    border: 1px solid #4F46E5;
    border-radius: 10px;
    padding: 10px 15px;
}

.blog small{
    font-size: 1.2rem;
    font-weight: 600;
}

.blog p{
    font-size: 1.4rem;
}

.blog button a{
    text-decoration: none;
    color: #6366F1;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

footer{
    background-color: #4338CA;
    text-align: center;
    padding: 15px 5px;
}

footer h1{
    color: #ffffff;
    padding-bottom: 10px;
}

footer a{
    color: #E0E7FF;
    padding-inline-start: 10px;
}


@media only screen and (max-width: 395px) {
    .lists{
        padding-right: 5px;
    }
    .list-items a{
        font-size: 1.3rem;
    }
    #header img{
      max-width: 300px;
    }
    #projects img{
        max-width: 300px;
    }
  }